html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    color: rgb(228, 6, 248);
    background-image: url('../img/unicorn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}
header {
    margin-top:20px;
    text-align: center;
}

.container {
   margin: 0 auto ;
   width: 50%;
   height: 500px;
}

.dave-quotes {
    margin: 0 auto;
    width: 50%;
    height: 150px;
    color: black;
    background-color: rgb(227, 232, 236);
}

.btn-container{
    position: relative;
    left: 1015px;
    bottom: 440px;
}

#button {
    border-radius: 40%;
    background-color: brown;
    color: white;
}

.img-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

